USE [master]
GO
/****** Object:  Database [PRJ301_SE1648]    Script Date: 11/12/2022 2:48:22 PM ******/
CREATE DATABASE [PRJ301_SE1648]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_SE1648', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ301_SE1648.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_SE1648_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ301_SE1648_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1648].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1648]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitStrings_Ordered]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitStrings_Ordered]
(
  @List      nvarchar(max),
  @Delimiter nchar(1)
)
RETURNS table WITH SCHEMABINDING
AS
  RETURN
  (
    SELECT value, ordinal = [key]
    FROM OPENJSON(N'["' + REPLACE(@List, @Delimiter, N'","') + N'"]') AS x
  );
GO
/****** Object:  UserDefinedFunction [dbo].[STRING_SPLIT]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[STRING_SPLIT]
(
  @List      nvarchar(max),
  @Delimiter nchar(1)
)
RETURNS table WITH SCHEMABINDING
AS
  RETURN
  (
    SELECT value, ordinal = [key]
    FROM OPENJSON(N'["' + REPLACE(@List, @Delimiter, N'","') + N'"]') AS x
  );
GO
/****** Object:  Table [dbo].[Account_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_HE160777](
	[roll] [bit] NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[sdt] [nvarchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[date] [date] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_HE160777](
	[Username] [nvarchar](50) NOT NULL,
	[iID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_HE160777](
	[ID] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_HE160777](
	[ID] [nvarchar](10) NULL,
	[rate] [int] NULL,
	[content] [nvarchar](max) NULL,
	[Username] [nvarchar](50) NULL,
	[productID] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_HE160777](
	[iID] [nvarchar](10) NOT NULL,
	[pID] [nvarchar](10) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_HE160777](
	[ID] [nvarchar](10) NULL,
	[Username] [nvarchar](50) NULL,
	[iID] [nvarchar](10) NULL,
	[Fullname] [nvarchar](max) NULL,
	[sdt] [nvarchar](10) NULL,
	[email] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[status] [nvarchar](50) NULL,
	[TotalPrice] [money] NULL,
	[pid] [nvarchar](max) NULL,
	[quantity] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_HE160777](
	[ID] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Image] [xml] NULL,
	[Price] [bigint] NULL,
	[Discount] [int] NULL,
	[Quantity] [int] NULL,
	[Detail] [nvarchar](max) NULL,
	[Rate] [int] NULL,
	[Information] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[SubCategory] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory_HE160777]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory_HE160777](
	[ID] [nvarchar](10) NOT NULL,
	[name] [nvarchar](100) NULL,
	[CategoryID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account_HE160777] ([roll], [FullName], [Email], [sdt], [address], [date], [Username], [Password]) VALUES (1, N'Trần Trung Nguyên', N'trantrungnguyenad@gmail.com', N'0932128342', N'Trọ Thiên Long cụm 3 thôn 3 xã Thạch Hoà huyện Thạch thất tp HN, Xã Thạch Hòa, Huyện Thạch Thất, Hà Nội', CAST(N'2022-10-05' AS Date), N'admin', N'123')
INSERT [dbo].[Account_HE160777] ([roll], [FullName], [Email], [sdt], [address], [date], [Username], [Password]) VALUES (0, N'Nguyễn Văn A', N'anhhoanq000@gmail.com', N'0123456789', N'Hưng Yên', CAST(N'2011-08-11' AS Date), N'ttnnguyen', N'admin')
GO
INSERT [dbo].[Cart_HE160777] ([Username], [iID]) VALUES (N'admin', N'1')
INSERT [dbo].[Cart_HE160777] ([Username], [iID]) VALUES (N'ttnnguyen', N'2')
INSERT [dbo].[Cart_HE160777] ([Username], [iID]) VALUES (N'ttnnguyen', N'3')
GO
INSERT [dbo].[Category_HE160777] ([ID], [name]) VALUES (N'1', N'Điện Thoại')
INSERT [dbo].[Category_HE160777] ([ID], [name]) VALUES (N'2', N'Laptop')
INSERT [dbo].[Category_HE160777] ([ID], [name]) VALUES (N'3', N'Máy tính bảng')
GO
INSERT [dbo].[item_HE160777] ([iID], [pID], [quantity]) VALUES (N'1', N'1-1-0', 115)
INSERT [dbo].[item_HE160777] ([iID], [pID], [quantity]) VALUES (N'2', N'1-1-1', 1)
INSERT [dbo].[item_HE160777] ([iID], [pID], [quantity]) VALUES (N'3', N'1-2-0', 100)
GO
INSERT [dbo].[Order_HE160777] ([ID], [Username], [iID], [Fullname], [sdt], [email], [address], [Note], [Date], [status], [TotalPrice], [pid], [quantity]) VALUES (N'1', N'ttnnguyen', N'1', N'Nguyễn Văn A', N'0932817232', N'anhhoanq000@gmail.com', N'Hà Nội', N'12', CAST(N'2022-10-31' AS Date), N'Yes', 1210671000.0000, N'1-1-1', 1)
INSERT [dbo].[Order_HE160777] ([ID], [Username], [iID], [Fullname], [sdt], [email], [address], [Note], [Date], [status], [TotalPrice], [pid], [quantity]) VALUES (N'1', N'ttnnguyen', N'4', N'Nguyễn Văn A', N'0932817232', N'anhhoanq000@gmail.com', N'Hà Nội', N'12', CAST(N'2022-10-31' AS Date), N'Yes', 1210671000.0000, N'1-2-0', 111)
INSERT [dbo].[Order_HE160777] ([ID], [Username], [iID], [Fullname], [sdt], [email], [address], [Note], [Date], [status], [TotalPrice], [pid], [quantity]) VALUES (N'2', N'ttnnguyen', N'4', N'Nguyễn Văn A', N'123456789', N'anhhoanq000@gmail.com', N'Hà Nội', N'Nhanh, Hàng dễ vỡ', CAST(N'2022-10-31' AS Date), N'Yes', 45000000.0000, N'5-1-0', 100)
GO
INSERT [dbo].[SubCategory_HE160777] ([ID], [name], [CategoryID]) VALUES (N'1-1', N'iPhone', N'1')
INSERT [dbo].[SubCategory_HE160777] ([ID], [name], [CategoryID]) VALUES (N'1-2', N'Samsung', N'1')
INSERT [dbo].[SubCategory_HE160777] ([ID], [name], [CategoryID]) VALUES (N'1-3', N'Xiaomi', N'1')
GO
ALTER TABLE [dbo].[Cart_HE160777]  WITH CHECK ADD FOREIGN KEY([iID])
REFERENCES [dbo].[item_HE160777] ([iID])
GO
ALTER TABLE [dbo].[Cart_HE160777]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Account_HE160777] ([Username])
GO
ALTER TABLE [dbo].[Feedback_HE160777]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product_HE160777] ([ID])
GO
ALTER TABLE [dbo].[Feedback_HE160777]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Account_HE160777] ([Username])
GO
ALTER TABLE [dbo].[item_HE160777]  WITH CHECK ADD FOREIGN KEY([pID])
REFERENCES [dbo].[Product_HE160777] ([ID])
GO
ALTER TABLE [dbo].[Order_HE160777]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Account_HE160777] ([Username])
GO
ALTER TABLE [dbo].[Product_HE160777]  WITH CHECK ADD FOREIGN KEY([SubCategory])
REFERENCES [dbo].[SubCategory_HE160777] ([ID])
GO
ALTER TABLE [dbo].[SubCategory_HE160777]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category_HE160777] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[totalofcart]    Script Date: 11/12/2022 2:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[totalofcart]
as
select sum(c.quantity*p.Price) from product p, cart c
where p.ID = c.pID
GO
USE [master]
GO
